<div class="container">
<mat-card>
    <div class="contact-card">
      <div class="contact-item">
        <mat-icon>phone</mat-icon>
        <p>+36 1 123 4567</p>
      </div>
      <div class="contact-item">
        <mat-icon>email</mat-icon>
        <p>test@gmail.com</p>
      </div>
      <div class="contact-links">
        <div class="contact-item">
          <mat-icon>link</mat-icon>
          <a href="https://kormanyablak.hu/hu">Kormányablak.hu</a>
        </div>
      </div>
    </div>
</mat-card>
</div>
  