.calendar-container{
    background-color:  #e91e63;
    width: 55vh;
}

.main_component{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    height: 100vh;
    align-items: center;
}

mat-form-field{
    width: 300px;
}

.buttons{
    padding: 15px;
    align-items: center;
}

button{
    width: 60px;
}

mat-card-actions{
    align-self: center;
}

mat-card-header{
    align-self: center;
}